.cf-header {
    background-color: #1E1E1E;
    border-bottom: 1px solid #16191D;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 32px 12px 0px;
    text-align: right;
    text-shadow: 0 1px 0 #16191D;
    background-image: url(../images/mrb-associes-logo-small.jpg);
    background-repeat: no-repeat;
}

.cf-helpwindow {
    background-color: #FFFFFF;
    padding: 5px;
}

.cf-helpwindow div.cascade {
    padding: 0 0 0 5px;
}

.cf-helpwindow h2 {
    margin: 2px 0 0 0;
}

.cf-summitdummybar {
    background-image: url(../images/stacked-bars.jpg);
    margin: 3px 10px;
}

.cf-summitdummybar-1 {
    background-position: 0 0;
}

.cf-summitdummybar-2 {
    background-position: 0 -95px;
}

.cf-summitdummybar-3 {
    background-position: 0 -191px;
}

.cf-summitdummybar-4 {
    background-position: 0 -287px;
}